# Proyecto
Ciencia de Datos e Inteligencia de Negocios

### Integrantes:
* HUMBERTO ORTIZ ESPINOSA
* MONTSERRAT ORTIZ PONTES
* MARIAN MICHELLE ROMO MARTINEZ

In [1]:
import pandas as pd
import numpy as np
from CDIN import CDIN as cd

In [2]:
import string
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('../Data/data.csv')
data

C:\Users\marmr\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (9,12,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
2,129780,1990,1,2,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174099,366091,2015,9,30,SWA,SOUTHWEST AIRLINES,B-737-700,A,148,42,...,0,0,0,0,0,0,0,0,0,0
174100,365902,2015,9,30,SWA,SOUTHWEST AIRLINES,B-737-700,A,148,42,...,0,0,0,0,0,0,0,0,0,0
174101,365903,2015,9,30,BUS,BUSINESS,CITATIONJET,A,226,49,...,1,1,0,0,0,0,0,0,0,0
174102,366046,2015,9,30,QXE,HORIZON AIR,DHC8 DASH 8,A,303,10,...,1,0,0,0,0,0,0,0,0,0
174103,365823,2015,9,30,AWI,AIR WISCONSIN AIRLINES,CRJ100/200,A,188,10,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
dqr = cd.dqr(data)
dqr

In [ ]:
data.shape

In [ ]:
data.fillna('UNKNOWN',inplace=True)

In [ ]:
data

Se han limpiado los datos NaN por UNKNOWN al no conocer el tipo de modelo de la aereonave

## Insights adicionales:

In [ ]:
data.columns #para conocer los datos que estan en el modelo/ insight

In [ ]:
data['Aircraft Damage']

In [ ]:
data['Incident Year'].value_counts() #insight

In [ ]:
data['Incident Month'].value_counts() #insight

In [ ]:
data.shape #insight

In [ ]:
data.describe() #insight

In [ ]:
data.info() #insight

In [ ]:
plt.figure(figsize=(10,8))
plt.hist(data['Incident Year'], bins=30)
plt.xlabel('Incident Year', fontsize=20)
plt.ylabel('Aircraft Damage', fontsize=20)
plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(10,8))
plt.hist(data['Incident Month'], bins=20)
plt.xlabel('Incident Month', fontsize=20)
plt.ylabel('Aircraft Damage', fontsize=20)
plt.grid()
plt.show()

Podemos ver la cantidad de acidentes por mes y año y el daño de las aeronaves causado.

## Matriz de similitud

In [4]:
data

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
2,129780,1990,1,2,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174099,366091,2015,9,30,SWA,SOUTHWEST AIRLINES,B-737-700,A,148,42,...,0,0,0,0,0,0,0,0,0,0
174100,365902,2015,9,30,SWA,SOUTHWEST AIRLINES,B-737-700,A,148,42,...,0,0,0,0,0,0,0,0,0,0
174101,365903,2015,9,30,BUS,BUSINESS,CITATIONJET,A,226,49,...,1,1,0,0,0,0,0,0,0,0
174102,366046,2015,9,30,QXE,HORIZON AIR,DHC8 DASH 8,A,303,10,...,1,0,0,0,0,0,0,0,0,0
174103,365823,2015,9,30,AWI,AIR WISCONSIN AIRLINES,CRJ100/200,A,188,10,...,0,0,0,0,0,0,0,0,1,0

In [5]:
# Selección de columnas de la base de datos para realizar matriz de similitud
inicial = np.array([0,1,4])
fin = np.arange(36, data.shape[1])
data_sel = np.append(inicial, fin)
data_sel

array([ 0,  1,  4, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
       50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65])

In [6]:
# Base seleccionada
data_2 = data.iloc[:, data_sel]
data_2

,Record ID,Incident Year,Operator ID,Aircraft Damage,Radome Strike,Radome Damage,Windshield Strike,Windshield Damage,Nose Strike,Nose Damage,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,DAL,1,1,1,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,HAL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,129780,1990,UNK,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2258,1990,MIL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,MIL,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174099,366091,2015,SWA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
174100,365902,2015,SWA,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
174101,365903,2015,BUS,1,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
174102,366046,2015,QXE,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
174103,365823,2015,AWI,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [7]:
import random
from random import sample

In [13]:
# Filtro de filas para realizar la matriz de similitud
df = data_2.sample(n=30000)
df.sort_values(by='Incident Year', ascending=True)

,Record ID,Incident Year,Operator ID,Aircraft Damage,Radome Strike,Radome Damage,Windshield Strike,Windshield Damage,Nose Strike,Nose Damage,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
420,124555,1990,NWA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1560,101064,1990,AAL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1177,120469,1990,1AWE,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
545,102390,1990,USA,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2061,105033,1990,HNA,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168963,362372,2015,KAP,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
167260,361021,2015,UNK,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
167780,360350,2015,SWA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
167720,361173,2015,UNK,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
165430,358856,2015,LYM,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# Base de datos binarios
data_sim = df.iloc[:,3:]
data_sim

,Aircraft Damage,Radome Strike,Radome Damage,Windshield Strike,Windshield Damage,Nose Strike,Nose Damage,Engine1 Strike,Engine1 Damage,Engine2 Strike,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
143448,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22719,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
148211,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
158467,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
136619,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95061,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76051,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75348,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36738,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [10]:
import scipy.spatial.distance as sc

In [11]:
# Matriz de similitud para datos binarios Jaccard
def pdistance(df, metric):
    dist = sc.pdist(df, metric)
    #Matriz de distancias de similitud
    DIST = pd.DataFrame(sc.squareform(dist))
    
    return DIST

In [15]:
# Matriz de similidtud Jaccard
pdistance(data_sim, 'jaccard')

,0,1,2,3,4,5,6,7,8,9,...,29990,29991,29992,29993,29994,29995,29996,29997,29998,29999
0,0.0,1.0,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,...,1.0,0.0,1.0,1.000000,1.000000,1.0,1.000000,1.0,1.0,1.000000
1,1.0,0.0,1.000000,0.5,1.000000,1.000000,1.000000,1.0,1.0,1.0,...,0.0,1.0,1.0,1.000000,1.000000,1.0,1.000000,1.0,1.0,1.000000
2,1.0,1.0,0.000000,1.0,0.666667,0.666667,0.666667,1.0,1.0,1.0,...,1.0,1.0,1.0,0.666667,0.666667,1.0,0.666667,1.0,1.0,0.666667
3,1.0,0.5,1.000000,0.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,...,0.5,1.0,0.5,1.000000,1.000000,1.0,1.000000,1.0,1.0,1.000000
4,1.0,1.0,0.666667,1.0,0.000000,1.000000,1.000000,1.0,1.0,1.0,...,1.0,1.0,1.0,0.000000,1.000000,1.0,0.000000,1.0,1.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,1.0,1.0,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,0.0,...,1.0,1.0,1.0,1.000000,1.000000,0.0,1.000000,1.0,0.0,1.000000
29996,1.0,1.0,0.666667,1.0,0.000000,1.000000,1.000000,1.0,1.0,1.0,...,1.0,1.0,1.0,0.000000,1.000000,1.0,0.000000,1.0,1.0,1.000000
29997,1.0,1.0,1.000000,1.0,1.000000,1.000000,1.000000,0.0,0.0,1.0,...,1.0,1.0,1.0,1.000000,1.000000,1.0,1.000000,0.0,1.0,1.000000
29998,1.0,1.0,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,0.0,...,1.0,1.0,1.0,1.000000,1.000000,0.0,1.000000,1.0,0.0,1.000000
29999,1.0,1.0,0.666667,1.0,1.000000,0.000000,0.000000,1.0,1.0,1.0,...,1.0,1.0,1.0,1.000000,0.000000,1.0,1.000000,1.0,1.0,0.000000

In [16]:
import gower

In [ ]:
# Matriz de similitud para datos mixtos
gower.gower_matrix(df)